* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px
}

.min_title {
    color: #f55f8d;
    font-size: 22px;
    font-weight: 600;
}

.big_title {
    font-size: 70px;
    font-weight: 800;
    padding: 20px 0px;
}

.sub_text {
    color: #636363;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

/* header */
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}

.header {
    position: absolute;
    width: 100%;
}

.header .header_nav a {
    margin-right: 15px;
    font-weight: 500;
    transition: all 0.3s;
}

.header .header_nav a:hover {
    color: rgb(245, 95, 141);
}

.header .header_nav a span {
    display: inline-block;
}

.header .header_nav a:hover span {
    animation: dropdown-menu 0.5s;
}

@keyframes dropdown-menu {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

.btn_linear {
    text-transform: uppercase;
    padding: 20px 25px;
    background-image: linear-gradient(to right,
            rgb(245, 95, 141) 0%,
            rgb(248, 174, 86)51%,
            rgb(245, 95, 141) 100%);
    color: white;
    border-radius: 30px;
    border: none;
    background-size: 200%;
    transition: 0.5s;
    box-shadow: 0 0 20px #eee;
}

.btn_linear:hover {
    background-position: right center;
}

/* freelance */
.freelance {
    background-image: url(./image/bg16.png);
}

.freelance .container {
    max-width: 1200px;
    width: 70%;
    margin: auto;
    padding-top: 20vh;
    /* height: 100vh; */
    display: grid;
    grid-template-columns: auto auto;
}

.freelance .container .part_2 {
    text-align: center;
}

.freelance .container .part_1 {
    padding-right: 50px;
}

.freelance .container .part_1 .item {
    margin: 30px 0px;
}

.freelance .container .part_1 .item i {
    color: white;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right,
            rgb(245, 95, 141) 0%,
            rgb(248, 174, 86)51%,
            rgb(245, 95, 141) 100%);
    text-align: center;
    background-size: 200%;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.freelance .container .part_1 .item span {
    color: #636363;
    font-size: 20px;
}

/* digital */
.digital {
    background-image: url(./image/bg17.png);
}

.digital .container {
    padding-top: 100px;
    text-align: center;

}

.digital .container .content {
    display: flex;
}

.digital .container .content .content_title {
    font-size: 24px;
    font-weight: 700;
}

.digital .container .content .content_text {
    color: #636363;
    font-size: 18px;
    padding: 30px 20px;
}

.digital .container .content .item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 20px 20px;
    background: white;
    border-radius: 15px;
    transition: .5s;
}

.digital .container .content .item:hover {
    transform: translateY(-5%);

}

.digital .container .content img {
    width: 60%;
    padding: 40px 0px;
}

/* business */
.business {
    background-image: url(./image/bg15.png);
}

.business .container {
    display: flex;
    /* grid-template-columns: auto auto; */
}

.business .container .part_1 {
    grid-column: 1/2;
}

.business .container .part_2 {
    grid-column: 2/3;
    padding: 70px 0px 70px 70px;
}

.business .container .part_1 img {
    width: 100%;
    margin: 100px 0px;
    border-radius: 50px;
}

.business .container .part_2 .sub_text {
    padding-bottom: 10px;
}

.business .container .part_2 .item i {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #f55f8d;
    font-weight: 900;
    border: 2px solid #f55f8d;
    border-radius: 50%;
    margin: 5px 0px;
}

.business .container .part_2 button {
    margin-top: 20px;
}

/* Number */
.number .container {
    background-image: url(./image/bg14.png);
    padding: 80px 0px;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
}

.number .container .content {
    text-align: center;
}

.number .container .content i {
    background-image: linear-gradient(to right,
            rgb(245, 95, 141) 0%,
            rgb(248, 174, 86)51%,
            rgb(245, 95, 141) 100%);
    background-size: 200%;
    color: white;
    border-radius: 50%;
    font-size: 46px;
    border: none;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
}

.number .container .content .title {
    font-size: 70px;
    font-weight: 800;
    color: #f55f8d;
}

/* Story */
.story {
    background-image: url(./image/bg17.png);
}

.story .container .features {
    display: flex;
}

.story .container .features_left {
    width: 50%;
}

.story .container .features_right {
    width: 50%;
    align-self: center;
}

.story .container .features_left .item {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: white;
    background-size: 200%;
    padding: 20px 0px;
    border-radius: 15px;
    transition: 0.5s;
    margin: 20px;
    position: relative;
}

.story .container .features_left .item::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right,
            rgb(245, 95, 141) 0%,
            rgb(248, 174, 86)51%,
            rgb(245, 95, 141) 100%);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    border-radius: 15px;
}

.story .container .features_left .item:hover::after {
    opacity: 1;
}

.story .container .features_left .item:hover,
.story .container .features_left .item:hover i,
.story .container .features_left .item:hover .text {
    color: white
}

.story .container .features_left .item i {
    width: 50px;
    height: 50px;
    color: #f55f8d;
    font-size: 70px;
    margin: 0px 30px;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.story .container .features_left .item .content {
    position: relative;
    z-index: 1;
}

.story .container .features_left .text {
    color: #636363;
    transition: 0.5s;
}

.tranform_x {
    transform: translateX(35px);
}

.story .container .features_right img {
    max-width: 100%;
    animation: move2 5s infinite;
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}

